.bottoms {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 3px 0;
  z-index: 4;
  border-top: 1px solid rgb(54 54 64 / 25%);
}

.bottoms__icon {
  width: 30px ;
  height: 30px;
  fill: #8b8e99;
}

.bottoms__icon.active {
  fill: #7000ff;
}

.bottoms__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #8b8e99;
  font-size: 14px;
}

.bottoms .container {
  display: flex;
  justify-content: space-between;
}

.bottoms__link.active {
  color: #7000ff;
}
.bottoms__link.active .bottoms__icon{
  fill: #7000ff;
}

.katalog-transition-enter-active,
.katalog-transition-leave-active {
  /* transition: opacity 0.5s ease; */
  transform: translateY(0);
  transition: 0.4s;
}

.katalog-transition-enter-from,
.katalog-transition-leave-to {
  transition: 0.4s;
  /* opacity: 0; */
  transform: translateY(-100%);
}


.kabinet-transition-enter-active,
.kabinet-transition-leave-active {
  /* transition: opacity 0.5s ease; */
  transform: translateY(0);
  transition: 0.4s;
}

.kabinet-transition-enter-from,
.kabinet-transition-leave-to {
  transition: 0.4s;
  /* opacity: 0; */
  transform: translateY(100%);
}

.bottoms__icon-span {
  width: 17px;
  height: 17px;
  background: #000;
  position: absolute;
  right: 10px;
  top: 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 11px;
}

.bottoms__link-drawer {
  position: relative;
}