.katalog {
    display: flex;
    flex-direction: column;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    overflow-x: scroll;
}

.katalog::-webkit-scrollbar {
    width: 5px;
}

.katalog-title {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}

.katalog-title::after {
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    display: block;
    margin-top: 10px;
}