.orderTime-div {
    min-height: 60vh;
}

.orders-title {
    font-size: 28px;
    border-bottom: 1px solid rgb(54 54 64 / 20%);
    padding-bottom: 2px;
    margin: 30px 0 10px 0;
}


.drawer-title {
    font-size: 28px;
    border-bottom: 1px solid rgb(54 54 64 / 20%);
    padding-bottom: 2px;
}

.drawer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.drawer__products {
    grid-column: 3 span;
    border: 1px solid rgb(54, 54, 64, 0.2);
    border-radius: 5px;
}

.order__price {
    border: 1px solid rgb(54, 54, 64, 0.08);
    border-radius: 10px;
    padding: 15px;
    height: 170px;
    width: 100%;
}

.drawer__products {
    padding: 15px;
}

.drawer__products-span {
    width: 100%;
    height: 1px;
    display: block;
    background: rgb(54, 54, 64, 0.08);
    margin: 15px 0;
}

.drawer__products-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer__products-top-title {
    font-size: 15px;
}

.drawer__products-top-div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.drawer__products-top-div-text {
    font-size: 13px;
    color: #8b8e99;
}

.drawer__products-top-div-title {
    color: #7000ff;
    border: 1px solid #7000ff;
    padding: 2px 6px;
    font-size: 12px;
}

.drawer__card-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.drawer__card-card {
    display: flex;
    gap: 30px;
}

.drawer__card-green {
    background-color: rgba(0, 128, 0, 0.200);
}

.drawer__card-red {
    background-color: rgba(255, 0, 0, 0.200);
}


.drawer__card-theme {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.drawer__card-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.drawer__card-count {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.drawer__card-count-count {
    border: 1px solid rgb(54, 54, 64, 0.2);
    border-radius: 5px;
    display: flex;
    padding: 5px 10px;
    height: 35px;
    align-items: center;
}

.drawer__card-theme-description {
    font-size: 18px;
    color: #000;
}

.drawer__card-theme-delete {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    color: #595b66;
    transition: 0.2s;
    max-width: 100px;
    width: 100%;
}

.drawer__card-theme-delete path {
    fill: #595b66;
    transition: 0.2s;
}

.drawer__card-theme-delete:hover {
    color: #000;
}

.drawer__card-theme-delete:hover path {
    fill: red;
}

.drawer__card-count-theme {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 300px;
    width: 100%;
}

.drawer__card-count-theme-vendor {
    color: #8b8e99;
}

.drawer__card-count-theme-vendor span {
    color: #000;
    cursor: pointer;
    text-transform: capitalize;
}

.drawer__card-count-theme-vendor-rout {
    color: #000;
    cursor: pointer;
    text-transform: capitalize;
}


.drawer__card-count-count-inp {
    width: 30px;
    font-size: 16px;
    text-align: center;
}

.drawer__card-count-count-btn {
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(54, 54, 64, 0.5);
}

.drawer__card-count-count-btn path {
    fill: rgb(54, 54, 64, 0.5);
}

.drawer__card-count-price {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    width: 100px;
}

.drawer__card-count-price1 {
    font-size: 20px;
    font-weight: 700;
}

.drawer__card-count-price2 {
    font-size: 14px;
    color: #8b8e99;
    text-decoration: line-through;
}





.order__price-title {
    font-size: 16px;
    color: #1f2026;
    margin-bottom: 18px;
}

.order__price-products {
    display: flex;
    justify-content: space-between;
    color: #1f2026;
    font-size: 14px;
    margin-bottom: 10px
}

.order__price-text {
    color: #7000ff;
    border: 1px solid #7000ff;
    font-size: 12px;
    border-radius: 2px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.order__price-price {
    display: flex;
    justify-content: space-between;
}

.order__price-price-title {
    color: #1f2026;
    font-size: 14px;
}

.order__price-price-sum {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.order__price-price-sum1 {
    font-size: 20px;
    color: #000;
}

.order__price-price-sum2 {
    font-size: 12px;
    color: #009c38;
}

.order__price-btn {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    background: #7000ff;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 16px;
    transition: 0.2s;
}

.order__price-btn:hover {
    opacity: 0.9;
}

.drawer-span {
    color: #8b8e99;
}

.no__product {
    width: 400%;
    height: 60dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no__product-text {
    font-size: 36px;
    font-weight: 700;
}

.drawer-div {
    min-height: 56dvh;
}

.drawer__card-count-count-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.drawer__card-count-count-div-txt {
    font-size: 16px;
    color: rgba(54, 54, 64, 0.808);
}

.no__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.no__product-link{
    padding: 15px 20px;
    background: #7000ff;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.order__no__product-title {
    font-size: 26px;
    font-weight: 700;
}

.order__no__product-text2 {
    font-size: 24px;
}

.drawer__card-count-buy {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.drawer__card-count-buy-btn {
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    padding: 1px 5px;
    border-radius: 5px;
}

.drawer__card-count-buy-btn:hover {
    background: #c6c8cf;
}