@media (max-width:1280px) {
  .cards {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .category__cards {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .nav__category {
    width: 30% !important;
  }

  .nav__category-bg {
    width: 70% !important;
  }
  
  .drawer {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .drawer__price {
    grid-column: 3 span;
  }
}

@media (max-width: 1024px) {
  .nav__pages-span {
    display: none !important;
  }

  .nav__pages-favourites {
    padding: 0 5px !important;
  }

  .nav__pages-favourites:hover {
    background: none !important;
  }

  .nav__pages-user {
    padding: 0 5px !important;
  }

  .nav__pages-user:hover {
    background: none !important;
  }

  .nav__pages-basket {
    padding: 0 5px !important;
  }

  .nav__pages-basket:hover {
    background: none !important;
  }

  .fav-count {
    display: none !important;
  }

  .basket-count {
    display: none !important;
  }

  /* .header__img {
    height: 300px;
    object-fit: contain;
  } */

  .swiper-pagination {
    display: none !important;
  }

  .nav__top-2 {
    display: none;
  }

  .favourite__cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }

}

@media (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .category__cards {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 768px) {

  .nav {
    display: none;
  }

  .nav__none {
    display: inline !important;
  }

  /* .nav__titles-title {
    font-size: 24px !important;
  }

  .nav__inputs {
    margin: 3px 0 !important;
    height: 35px !important;
  }
  
  .nav__titles-title {
    width: 130px;
  } */

  /* .header__img {
    height: 230px;
  } */

  .bottoms {
    display: inline !important;
  }

  .footer__bottom {
    display: none;
  }

  .footer__top {
    margin-bottom: 60px;
  }

  .card:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
    transform: translateY(0);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.301);
  }
  
  .favourite__cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .favourite__card img {
    width: 140px !important;
    height: 100% !important;
  }

  .favourite__card {
    min-height: 150px !important;
  }

  .drawer__card-theme-description-title {
    display: block !important ;
  }

  .drawer__card-theme-description {
    display: none !important; 
  }
}

@media (max-width: 635px) {
  .cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .category__cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .footer__app {
    display: none !important;
  }

  .footer__link-title-none {
    display: none !important;
  }

  .home__view-title {
    font-size: 24px !important;
  }

  .category-title {
    font-size: 24px !important;
    margin: 10px 0 !important;
  }

  .category-title::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: rgb(54 54 64 / 20%);
  }

  .home__view-pagination-none {
    display: none !important;
  }

  .hidden-home__view-pagination {
    display: flex !important;
  }

  .home__view {
    margin: 10px 0 !important;
  }

  .card:hover {
    border:none !important;
    transform: none !important;
    box-shadow: none !important;
  }

  .drawer__card-card {
    display: none !important;
  }

  .drawer__card-card-none {
    display: block !important;
  }
}

@media (max-width: 540px) {

  .home__view-title {
    font-size: 22px !important;
  }

  .category-title {
    font-size: 22px !important;
    margin: 10px 0 !important;
  }

  .card {
    min-height: 340px !important;
    gap: 3px !important;
  }

  .card__theme {
    justify-content: start !important;
    gap: 2px !important;
    min-height: 0 !important;
  }

  .card__theme-title {
    font-size: 16px !important;
  }

  .favourite__card__theme-title {
    font-size: 16px !important;
  }

  .card__theme-price {
    font-size: 12px !important;
  }

  .card__theme-newprice {
    font-size: 14px !important;
  }

  .card__icons-btnb-basketicon {
    height: 30px !important;
    width: 30px !important;
    padding: 3px !important;
  }

  .favourite__card__icons-btnb-basketicon {
    height: 30px !important;
    width: 30px !important;
    padding: 3px !important;
  }

  .header__img {
    height: 200px;
  }
}


@media (max-width: 480px) {

  .card {
    min-height: 270px !important;
  }

  .card img {
    height: 140px !important;
  }

  .card__theme-title {
    font-size: 14px !important;
  }

  .favourite__card__theme-title {
    font-size: 14px !important;
  }

  .card__theme-newprice {
    font-size: 13px !important;
  }

  .bottoms__icon {
    width: 26px !important;
    height: 26px !important;
    
  }
  .bottoms__link {
    font-size: 10px !important;
  }

  .header__img {
    height: 180px;
  }
}