@media (max-width:1280px) {
  .cards {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .category__cards {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .nav__category {
    width: 30% !important;
  }

  .nav__category-bg {
    width: 70% !important;
  }

  .drawer {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .drawer__price {
    grid-column: 3 span;
  }

  .no__favorites-text {
    font-size: 22px !important;
    text-align: center !important;
  }

  .no__product {
    text-align: center;
  }



  .product__images {
    width: 50% !important;
  }

  .product__theme {
    width: 45% !important;
  }

  .drawer__price-title {
    margin-bottom: 5px !important;
  }

  .drawer__price-text {
    margin-bottom: 5px !important;
  }

  .order__price {
    grid-column: 3 span;
    height: 150px !important;
  }

  .order__price-text {
    margin-bottom: 5px !important;
  }

  .order__price-title {
    margin-bottom: 5px !important;
  }
}

@media (max-width: 1024px) {
  .nav__pages-span {
    display: none !important;
  }

  .nav__pages-favourites {
    padding: 0 5px !important;
  }

  .nav__pages-favourites:hover {
    background: none !important;
  }

  .nav__pages-user {
    padding: 0 5px !important;
  }

  .nav__pages-user:hover {
    background: none !important;
  }

  .nav__pages-basket {
    padding: 0 5px !important;
  }

  .nav__pages-basket:hover {
    background: none !important;
  }

  .fav-count {
    display: none !important;
  }

  .basket-count {
    display: none !important;
  }

  /* .header__img {
    height: 300px;
    object-fit: contain;
  } */

  .swiper-pagination {
    display: none !important;
  }


  .nav__top-2 {
    display: none;
  }

  .favourite__cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }


}

@media (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr) !important;
    row-gap: 10px !important;
  }

  .category__cards {
    grid-template-columns: repeat(3, 1fr) !important;
  }

  .product .container {
    flex-direction: column !important;
    gap: 10px !important;
  }

  .product__images {
    width: 90% !important;
  }

  .product__theme {
    width: 95% !important;
  }

  .product__theme-theme {
    display: flex !important;
    flex-direction: row !important;
    max-width: 500px !important;
    width: 100% !important;
    flex-wrap: wrap;
    margin: 10px 0 !important;
  }

  .product__theme-product {
    gap: 10px !important;
  }

  .product__theme-product-title {
    width: 160px !important;
  }

  .product__theme-product-text {
    width: 100% !important;
  }

  .product__theme {
    display: none !important;
  }

  .product__theme-none {
    display: block !important;
  }


  .product__images {
    height: 500px !important;
  }

  .product__theme-price {
    justify-content: flex-start !important;
    gap: 10px;
    margin: 5px 0;
  }

  .product__theme-term {
    margin-top: 15px !important;
  }

  .product__theme-none-basket-btns-btn {
    border: 1px solid #dfdfdf;
    width: 100%;
    border-radius: 5px !important;
    height: 40px !important;
    background: #7000ff;
    color: #fff;
  }
}

@media (max-width: 768px) {

  .nav {
    display: none;
  }

  .nav__none {
    display: inline !important;
  }

  /* .nav__titles-title {
    font-size: 24px !important;
  }

  .nav__inputs {
    margin: 3px 0 !important;
    height: 35px !important;
  }
  
  .nav__titles-title {
    width: 130px;
  } */

  /* .header__img {
    height: 230px;
  } */

  .bottoms {
    display: inline !important;
  }

  /* .footer__top {
    margin-bottom: 60px;
  } */

  .card:hover {
    border: 0px solid #fff !important;
    transform: translateY(0) !important;
    box-shadow: 0 0 0 #fff !important;
  }

  .favourite__cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .favourite__card img {
    width: 140px !important;
    height: 100% !important;
  }

  .favourite__card {
    min-height: 150px !important;
  }


  .no__product-link {
    display: none !important;
  }

  .product__nation-bg {
    display: none !important;
  }

  .product__nation-div {
    display: none !important;
  }

  .product__nation-bg-2 {
    display: block !important;
  }

  .product__nation-div-2 {
    display: block !important;
  }
  
  .product__nation-ul {
    margin: 10px 0 !important;
  }
  
  .product__nation-text {
    margin: 15px 0 !important;
    font-size: 13px !important;
  }

  .product__nation-title {
    font-size: 20px !important;
  }
  
  .product__nation-pasport-title {
    font-size: 14px !important;
  }
  
  .product__nation-pasport-text {
    font-size: 12px !important;
    margin: 0 !important;
  }


}

@media (max-width: 635px) {
  .cards {
    margin-top: 5px !important;
    grid-template-columns: repeat(2, 1fr) !important;
    column-gap: 5px !important;
  }

  .category__cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }


  .home__view-title {
    font-size: 26px !important;
  }

  .category-title {
    font-size: 24px !important;
    margin: 10px 0 !important;
  }

  .category-title::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: rgb(54 54 64 / 20%);
  }

  .home__view-pagination-none {
    display: none !important;
  }

  .hidden-home__view-pagination {
    display: flex !important;
  }

  .home__view {
    margin: 10px 0 !important;
  }

  .drawer__card-card {
    display: none !important;
  }

  .drawer__card-none {
    display: block !important;
  }


  .footer-none {
    display: block !important;
    margin-bottom: 60px;
  }

  .footer {
    display: none !important;
  }

  .footer__link-contact {
    justify-content: center !important;
    gap: 10px !important;
  }

  .footer__app-link {
    background: #000;
    color: #fff;
  }

  .footer__app-link:hover {
    background: #000 !important;
    color: #fff;
  }

  .footer__app-link-icon {
    fill: #fff;
  }

  .footer__link-title {
    width: 100%;
  }

  .cards__none::after {
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    display: block;
  }

  .cards__none::before {
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    display: block;
  }

  .no__favorites {
    height: 100% !important;
    margin-top: 50px;
  }

  .no__product {
    height: 100% !important;
    margin: 30px 0;
    gap: 10px !important;
  }

  .favourite {
    min-height: 100% !important;
  }

  .drawer-div {
    min-height: 100% !important;
  }

  .no__favorites-title {
    font-size: 24px !important;
  }

  .no__product-text {
    font-size: 24px !important;
  }

  .no__favorites-text {
    font-size: 14px !important;
    line-height: 1.4em;
  }

  .order__no__product-text2 {
    font-size: 14px !important;
    line-height: 1.4em;
  }

  .footer__links-dropdown.active {
    height: 100% !important;
  }

  .footer__links-dropdown {
    width: 100%;
    height: 0;
    overflow: hidden;
    /* transition: all 5s ease; */
    transition: 0.2s;
  }

  .footer__links {
    width: 100%;
  }

  .footer__links::after {
    content: '';
    width: 90%;
    align-self: center;
    height: 1px;
    display: block;
    background: hsl(220deg 4% 48% / 20%);
  }

  .footer__none-link {
    padding: 5px 0 !important;
  }

  .footer__none-bottom {
    margin-top: 20px;
  }

  .footer__app {
    margin-bottom: 10px;
  }

  .drawer__card-count-theme {
    margin-top: 10px;
  }

  .drawer__card-count-price {
    flex-direction: row !important;
    width: 100% !important;
    justify-content: space-between;
  }


  .orderTime-div {
    min-height: 100% !important;
  }

  .drawer__card-time {
    flex-direction: column !important;
    align-items: flex-end !important;
  }

}

@media (max-width: 540px) {


  .category-title {
    font-size: 22px !important;
    margin: 10px 0 !important;
  }

  .card {
    min-height: 320px !important;
    gap: 3px !important;
  }

  .card__theme {
    justify-content: start !important;
    gap: 2px !important;
    min-height: 0 !important;
  }


  .favourite__card__theme-title {
    font-size: 16px !important;
  }

  .card__theme-price {
    font-size: 12px !important;
  }


  .card__icons-btnb-basketicon {
    height: 30px !important;
    width: 30px !important;
    padding: 3px !important;
  }

  .favourite__card__icons-btnb-basketicon {
    height: 30px !important;
    width: 30px !important;
    padding: 3px !important;
  }

  .header__img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid;
  }

  .product__images {
    height: 400px !important;
  }

  .mySwiper {
    display: none !important;
  }

  .product__theme-none {
    margin-top: -60px;
  }

  .product-span {
    margin: 5px 0 !important;
  }

  .product__theme-theme {
    gap: 5px !important;
  }

  .order__no__product-title {
    font-size: 20px !important;
  }

  .drawer__products-top-div-text {
    display: none !important;
  }

  .category__cards {
    gap: 5px !important;
  }

  .drawer__card-theme-delete {
    justify-content: flex-end;
  }

  .drawer__card-theme-description {
    font-size: 15px !important;
  }
  
  .drawer__card-count-theme-vendor {
    font-size: 14px !important;
  }

  .drawer__card-theme-delete {
    font-size: 14px !important;
    gap: 5px;
  }

  .drawer__card-img {
    height: 80px !important;
  }

  .drawer__products-span {
    margin: 10px 0 !important;
  }

  .order__price  {
    padding: 10px !important;
    height: 135px !important;
  }

  .drawer__price  {
    padding: 10px !important;
    height: 190px !important;
  }

  .drawer__price-btn {
    margin-top: 10px !important;
  }

  .orders-title {
    margin-top: 10px !important;
  }
}


@media (max-width: 480px) {
  .card {
    min-height: 240px !important;
  }

  .card img {
    height: 140px !important;
  }

  .card__theme-title {
    font-size: 14px !important;
  }

  .favourite__card__theme-title {
    font-size: 14px !important;
  }

  .bottoms__icon {
    width: 26px !important;
    height: 26px !important;

  }

  .bottoms__link {
    font-size: 11px !important;
  }

  .header__img {
    height: 180px;
  }

  .card__icons {
    gap: 0 !important;
  }


  .card__theme-newprice {
    font-size: 14px !important;
    /* font-size: 10vw; */
    letter-spacing: -0.4px;
  }

  .card__theme-sale {
    font-size: 12px !important;
  }


  .card__theme-nation {
    padding: 1px !important;
    width: 100% !important;
  }

  .footer__bottom-text {
    text-align: center;
    font-size: 10px !important;
  }

  .product__theme-rating-favourite span {
    display: none !important;
  }

  .card__icons-btnb-basketicon {
    position: absolute;
    bottom: 1px;
    right: 1px;
  }

  .no__favorites-title {
    letter-spacing: -0.4px !important;
  }
  
}

@media (max-width: 370px) {
  .drawer__card-none-count-count-div-text {
    display: none !important; 
  } 

  .orders-title {
    font-size: 24px !important;
  }

  .drawer__card-count-price1 {
    font-size: 16px !important;
  }

  .drawer__card-count-price2 {
    font-size: 12px !important;
  }
}